.active-code {
    background-color: yellow
}

.ravel-error .collapse:not(.show) {
    display: block;
    height: 3em;
    overflow: hidden;
}

.ravel-error .collapsing {
    height: 3em;
}

/* Rotates a icon in a bootstrap collapse when it is closed. So you can have a toggling arrow for example. */
.collapsed .collapsed-rotate-icon
{
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
}

/* Fixes select2 not showing placeholder if initially hidden.
   see https://stackoverflow.com/questions/50696987/select2-does-not-show-placeholder-if-initially-hidden */
.select2-selection--multiple .select2-search__field{
    width:100%!important;
}

/* increase icon size */
#controls .fas, #controls .far {
    font-size: 1.3em;
}

/* Makes a toggle switch, see https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #7A8288;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #7A8288;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}