@{
    ViewData["Title"] = "About";
}
@section Styles {
    <style>
        p {
            text-indent: 2rem;
        }
    </style>
}

<h1>About</h1>

<p>
   This project was made by Jesse Hines in 2020 for the Database, Organization of Programming Languages and
   Operating Systems classes at Southern Adventist University.
</p>
<p>
    The backend server is written using C# <a href="https://docs.microsoft.com/en-us/aspnet/core">ASP.NET Core</a>
    and <a href="https://docs.microsoft.com/en-us/ef/">Entity Framework Core</a>. The client side is written using
    <a href="https://www.scala-js.org/">Scala.js</a> and uses the <a href="https://nearley.js.org/">Nearley</a>
    library for parsing. View the source code on <a href="https://github.com/jesse-r-s-hines/MultithreadingDemo">Github</a>.
</p>
