@* Also takes a list of SelectListItem in ViewBag.Tags *@
@model Demo

@{
    ViewData["Title"] = "Demo";
}

@section Scripts {
    <script src="/vendor/nearley/lib/nearley.js"></script>
    <script src="/vendor/moo/moo.js"></script>

    <script src="/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/vendor/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/vendor/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/vendor/codemirror/addon/comment/comment.js"></script>

    <script src="/vendor/@@popperjs/core/dist/umd/popper.js"></script>
    <script src="/vendor/tippy.js/dist/tippy.umd.js"></script>
    <script src="/vendor/select2/dist/js/select2.min.js"></script>

    <script src="/js/customCodemirrorModes/mips/mips.js"></script>
    <script src="/js/customCodemirrorModes/ravel/ravel.js"></script>

    <script src="/js/generated/grammar.js"></script>
    <script src="/js/testParser.js"></script>
    <script src="/js/generated//threadingDemo.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="/vendor/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/vendor/codemirror/theme/darcula.css">
    <link rel="stylesheet", href="/vendor/tippy.js/dist/tippy.css">
    <link rel="stylesheet", href="/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet", href="/css/threadingDemo.css">
}
@section MenuBar {
    <form class="form-inline" action="">
        <input type="text" class="form-control" id="demo-title" value='@(Model.Title ?? "Untitled")' maxlength="255">
        <li class="nav-item">
            <a class="nav-link" onclick="save(); return false;" href="#">
                <i class="far fa-save" style="font-size: 1.25em; padding: 0;"></i> Save
            </a>
        </li>
        @{ var isChecked = (Model.Visibility == Demo.PUBLIC) ? "checked" : ""; }
        <label for="demo-visibility" class="ml-4">Private</label>
        <label class="switch mx-2">
            <input type="checkbox" id="demo-visibility" value="public" @isChecked>
            <span class="slider round"></span>
        </label>
        <label for="demo-visibility">Public</label>
    </form>
}
@* JS object that contains the data from the server on the demo. We'll then read it into Scala *@
<script>
    originalData = @Json.Serialize(Model)
</script>

<div id="threading-demo" class="d-flex flex-column" style="height: 80vh">

    <div class="card mb-3">
        <div class="card-header collapsed" data-toggle="collapse" data-target="#description-collapse">
            <h6 class="mb-0">
                <button class="btn btn-link collapsed p-0" type="button">
                    Description
                </button>
                    <i class="fas fa-angle-up collapsed-rotate-icon"></i>
            </h6>
        </div>
        <div id="description-collapse" class="collapse"><div class="card-body">
            <select id="demo-tags" class="form-control" style="width:100%" multiple
                    asp-items="ViewBag.Tags"></select>
            <div class="my-3"></div>
            <textarea id="demo-description" class="form-control" placeholder="Describe your demo.">@Model.Description</textarea>
        </div></div>
    </div>

    <div class="d-flex flex-row">
        <div id="globals" class="flex-grow-1 mr-3">
            <div class="source-code"></div>
            <div class="runtime-variables d-flex justify-content-start"></div>
        </div>
        <div id="controls">
            <div class="card" style="height: 100%; width: 100%;"><div class="card-body">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row mb-2">
                        <button id="add-thread" class="btn mx-1" onclick="addThread()" title="Add Thread">
                            <i class="fas fa-plus text-success"></i>
                        </button>
                        <button id="toggle-demo" class="btn mx-1" onclick="toggleDemo()"></button>
                    </div>
                    <div class="d-flex flex-row">
                        <span style="padding-top:4px">Playbacks:&nbsp;</span>
                        <hr width="100%" class="border-secondary">
                    </div>
                    <form class="form-inline mb-3" action="">
                        <select id="playback-select" class="form-control mx-2" style="width: 100%"></select>
                    </form>
                    <div class="d-flex flex-row flex-wrap mb-3">
                        <button id="play-playback" class="btn btn-sm mx-1" onclick="playPlayback()" title="Play Playback">
                            <i class='fas fa-play text-success'></i>
                        </button>
                        <button id="remove-playback" class="btn btn-sm mx-1" onclick="removePlayback()" title="Remove Playback">
                            <i class="far fa-trash-alt text-danger"></i>
                        </button>
                        <button id="record-playback" class="btn btn-sm mx-1" onclick="record()" title="Record Playback">
                            <i class='fas fa-record-vinyl text-danger'></i>
                        </button>
                    </div>

                    <div id="playback-controls" style="display: none;">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                                <span style="padding-top:4px">Playing:&nbsp;</span>
                                <hr width="100%" class="border-secondary">
                            </div>
                            <div class="d-flex flex-row flex-wrap">
                                <button id="toggle-playback" class="btn btn-sm mx-1" onclick="togglePlayback()"></button>
                                <button id="cancel-playback" class="btn btn-sm mx-1" onclick="cancelPlayback()" title="Cancel Playback">
                                    <i class="far fa-times-circle text-danger"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="record-controls" style="display: none;">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                                <span style="padding-top:4px">Recording:&nbsp;</span>
                                <hr width="100%" class="border-secondary">
                            </div>
                            <div class="d-flex flex-row flex-wrap">
                                <button id="stop-recording" class="btn btn-sm mx-1" onclick="stopRecord()" title="Stop Recording">
                                    <i class='far fa-stop-circle text-danger'></i>
                                </button>
                                <button id="cancel-record" class="btn btn-sm mx-1" onclick="cancelRecord()" title="Cancel Recording">
                                    <i class="far fa-times-circle text-danger"></i>
                                </button>
                                <button id="add-breakpoint" class="btn btn-sm mx-1" onclick="addBreakpoint()" title="Add Breakpoint">
                                    <i class="fas fa-circle text-warning"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
        </div>
    </div>

    <div id="threads" class="row no-gutters" style="padding-top: 10px;">
    </div>
</div>


<div class="modal fade" id="playback-name-modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <label for="playback-name">What do you want to name the playback?</label>
                <input id="playback-name" type="text" class="form-control" maxlength="255">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Not Logged In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow:hidden">
                You need to be logged in to be able to save demos.
                <a href="/Identity/Account/Login" target="_blank">Login</a>
                then save your demo.
            </div>
        </div>
    </div>
</div>